@font-face {
  font-family: 'Lato-Hairline';
  src: url('Lato-Hairline.eot');
  src: url('Lato-Hairline.woff2') format('woff2'),
       url('Lato-Hairline.woff') format('woff'),
       url('Lato-Hairline.ttf') format('truetype'),
       url('Lato-Hairline.svg#Lato-Hairline') format('svg'),
       url('Lato-Hairline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Existence-Light';
  src: url('Existence-Light.eot');
  src: url('Existence-Light.woff2') format('woff2'),
       url('Existence-Light.woff') format('woff'),
       url('Existence-Light.ttf') format('truetype'),
       url('Existence-Light.svg#Existence-Light') format('svg'),
       url('Existence-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

